*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #434455;
}
body {
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  background: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 420px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

/*-------------Header--------------*/
.page-header {
  padding: 0 10px;
}
.menu-area {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 305px;
  max-width: 305px;
}
.burger-menu {
  width: 50px;
  height: 50px;
  background-color: #18b9af;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu-icon {
  display: flex;
  cursor: pointer;
}
.burger-icon {
  fill: #ffffff;
  font-size: 20px;
  line-height: 1;
}
.burger-menu:hover {
  background-color: black;
}
/*--------------Mobile menu-------------*/
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tronix-menu-wrapper.tronix-body-visible {
  opacity: 1;
  visibility: visible;
}
.tronix-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #24231dc4;
  z-index: 999999;
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
}
.tronix-menu-wrapper.tronix-body-visible .tronix-menu-area {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.tronix-menu-wrapper .tronix-menu-area {
  width: 100%;
  max-width: 310px;
  background-color: white;
  border-right: 3px solid #18b9af;
  height: 100%;
  position: relative;
  transition: all ease 1s;
  z-index: 1;
}
.text-center {
  text-align: center !important;
}
.tronix-menu-wrapper .tronix-menu-toggle {
  border: none;
  position: absolute;
  right: -16.5px;
  top: 25px;
  padding-top: 5px;
  width: 33px;
  height: 33px;
  font-size: 16px;
  z-index: 1;
  border-radius: 50%;
  color: #ffffff;
  background-color: #18b9af;
}
.icon-close {
  width: 18px;
  height: 23px;
  fill: white;
}
.mobile-logo {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 40px;
  display: block;
  text-align: center;
  background: #eff1f5;
}
.custom-logo-link {
  display: inline-block;
}
.tronix-mobile-menu {
  max-height: calc(100vh - 200px);
  padding-bottom: 40px;
  margin-top: 33px;
  text-align: left;
}
.mobile-menu-list {
  padding: 0 40px;
  margin: 0;
}
.menu-item {
  border-bottom: 1px solid black;
  list-style-type: none;
}
.menu-item:last-child {
  border-bottom: none;
}
.mobile-menu-link {
  display: block;
  padding: 12px 0;
  line-height: 1.4;
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  padding-left: 18px;
}
.menu-plus-expand {
  display: flex;
  justify-content: space-between;
}
.tronix-mean-expand {
  font-weight: 400;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  background-color: #18b9af;
  color: white;
  border-radius: 50%;
  margin-right: 0;
  cursor: pointer;
}
.icon-plus {
  width: 12px;
  height: 12px;
  fill: white;
}
/* .tronix-submenu {
  overflow-y: scroll;
} */
.sub-menu-item {
  padding-left: 10px;
}
/*----------end Mobile menu ---------------*/

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .tronix-menu-wrapper.tronix-body-visible {
    opacity: 0;
    visibility: hidden;
  }
  .mobile-menu {
    display: none;
  }
  .search-open {
    display: none;
  }
  .navigation {
    display: none;
  }
  .burger-menu {
    border-radius: none;
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1220px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
  }
  .header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .tronix-mobile-menu {
    width: 316px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: 0;
    gap: 36px;
  }
  .menu-item {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    padding: 40px 0;
  }
  .sub-menu-opener {
    position: relative;
  }
  .sub-menu-opener:after {
    content: "\f078";
    position: absolute;
    margin-left: 1px;
    bottom: 12px;
    display: inline-block;
    transition: 0.4s;
    transform: rotate(0);
    font-size: 12px;
    font-family: "font awesome 5 free";
    font-weight: 800;
  }
  .mobile-menu-link {
    font-weight: 600;
  }
  .mobile-menu-link:hover {
    color: #18b9af;
  }
  .menu-plus-expand {
    visibility: hidden;
  }
  .search-btn-container {
    display: block;
    padding: 0 10px;
    align-items: center;
  }
  .two-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-open {
    margin-right: 30px;
    color: #18b9af;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background-color: transparent;
    display: block;
  }
  .search-icon {
    width: 18px;
    height: 18px;
    fill: #18b9af;
    border: none;
    color: white;
  }
  .burger-menu-desktop {
    border-radius: 100px;
    margin-left: 20px;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
    background: #eff1f5;
  }
  .burger-menu-desktop:hover {
    background: #18b9af;
  }
  .menu-icon-desktop {
    width: 17px;
    height: 20px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
  }
  .burger-icon-desktop {
    fill: #18b9af;
  }
  .burger-icon-desktop:hover {
    fill: white;
  }
}

/*---------------Footer-------------*/
.page-footer {
  max-width: 420px;
  margin: 0 auto;
  background: #2e2f42;
  background-image: linear-gradient(180deg, #156f69 0%, #050d3d 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer-container {
  max-width: 100%;
  justify-content: left;
  padding: 80px 0 40px;
}
.footer-tittle {
  margin-bottom: 23px;
  text-transform: capitalize;
  color: var(--white-color);
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.footer-text {
  color: #8a99b4;
  font-weight: normal;
  font-size: 16px;
}
.container-about .container-social-media {
  margin-bottom: 30px;
  border: none;
}
.social-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.flaticon {
  width: 16px;
  height: 26px;
  color: #ffffff;
}
.list-icon {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: #15284c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 7px;
}
.icon {
  height: 16px;
  width: 26px;
  fill: white;
}
.list-icon:hover {
  background-color: #ffffff;
}
.icon:hover {
  fill: #18b9af;
}
.container-services {
  margin-bottom: 30px;
  border-right: none;
  justify-content: left;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 30px;
}
.services-link {
  font-weight: 400;
  color: #8a99b4;
  font-family: var(--body-font);
}
.container-contact {
  display: flex;
  flex-direction: column;
  border-right: none;
  justify-content: left;
}
.span-link {
  color: #18b9af;
}
.container-posts {
  margin-bottom: 30px;
  position: relative;
}
.posts {
  display: flex;
  margin-bottom: 17px;
  padding-top: 8px;
}
.post-picture {
  margin-right: 20px;
}
.post-image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  min-width: 60px;
  border-radius: 10px;
}
.posts-list {
  display: flex;
  flex-direction: row;
}
.post-data {
  font-size: 14px;
  line-height: 17px;
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 8px;
  margin-left: 8px;
}
.post-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.span-white-link {
  color: var(--white-color);
}
.fa-calendar-alt:before {
  content: "\f073";
  margin-right: 8px;
}

.footer-one-copyright_area {
  width: 100%;
}
.copyright-text-link {
  color: #7a7a7a;
  font-weight: 400;
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 26px;
}
.copyright-link {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: center;
  background: #0b2048;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}
